  <div class="header">
    <button (click)="prevMonth()">Prev Month</button>
    {{ activeDate }}
   <!-- {{ constants.months[activeDate.getMonth()] }}
    {{ activeDate.getDate() }}
    {{ activeDate.getFullYear() }} -->
    <button (click)="nextMonth()">Next Month</button>
  </div>  

  <div class="dates-container">
    <div 
      class="date-cell"
      *ngFor="let dateCell of dateCells; let i = index;" 
      [ngClass]="{'active': activeDate.getDate() + 2 === i}"
      (click)="setActiveDate(i)"
    >
      <div class="calendar-date" *ngIf="dateCells[i] !== null"> {{ dateCells[i].getDate() }} </div>
    </div>
  </div>

  