.calendar-display-container{
    display: flex; 
}
    .calendar-view{
        width: 60%;
        flex-shrink: 2;
        border-right: 4px solid #EEE;
        padding: 20px;
    }
        .header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
        }
    .event-detail-view{
        width: 40%;
        flex-shrink: 2;
        padding: 20px;
    }
        .dates-container{
            display: flex;
            flex-wrap: wrap;
            outline: 1px solid black;
        }
            .date-cell{
                width: 14.28%;
                height: 200px;
                outline: 1px solid black;
            }
                .calendar-date{
                    width: 100%;
                    height: 100%;
                }
                
                .calendar-date.active{
                    background-color: #EEE;
                }
                .calendar-date.today{
                    outline: 3px solid gray;
                }
                    .calendar-date-events{
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        margin-left: 10%;
                    }
                        .event-summary{
                            padding: 5px;
                            outline: 1px solid #DDD;
                            margin-bottom: 10px;
                        }