<div class="calendar-display-container">  
  <div class="calendar-view">
    <div class="header">
      <button (click)="prevMonth()">Prev Month</button>
      {{ constants.months[activeDate.getMonth()] }}
      {{ activeDate.getDate() }}
      {{ activeDate.getFullYear() }}
      <button (click)="nextMonth()">Next Month</button>
    </div>  

    <div class="dates-container">
      <div 
        class="date-cell"
        *ngFor="let dateCell of dateCells; let i = index;" 
      >
        <div 
          class="calendar-date"
          (click)="setActiveDate(i, dateCell)"
          [ngClass]="{'active': activeDate.getDate() + offsetForMonth  === i, 'today': currentDate.getDate() + offsetForMonth  === i && currentDate.getMonth() === dateCell.getMonth() && currentDate.getFullYear() === dateCell.getFullYear() }" 
          *ngIf="dateCells[i] !== null"
        >
          <div 
            class="calendar-date-events" 
          > {{ dateCells[i].getDate() }} </div>
          <div class="event-summary" *ngFor="let event of eventsForDate(dateCells[i])">
            {{ event.name }} @ {{ getFormattedTime(event.datetime) }} 
          </div>
        </div>  
      </div>
    </div>
  </div>
  <div class="event-detail-view">
    <app-event-detail
      (editEvent)="updateEvent($event)"
      (addEvent)="createEvent($event)"
      (deleteEvent)="deleteEvent($event)"
      [events]="activeEvents"
      [datetime]="activeDate.toString()"
    >
    </app-event-detail>

  </div>
</div>  